@{
    ViewBag.Title = "工序明细";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    string UserName = ViewData["UserName"] as string;
}

<link href="~/Content/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/Scripts/uploadify/jquery.uploadify.js"></script>

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
        BindData();
        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/TrainModule/Skill/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);

            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/TrainModule/Skill/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    //绑定数据
    function BindData() {

        $("#SkillType").html("");

        $("#SkillType").append("<option value=''>==请选择==</option>");
        AjaxJson("/TrainModule/Post/TypeJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#SkillType").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        });
    }

    function calEvaluation() {
        var ExamPer = $("#ExamPer").val();
        $("#EvaluationPer").val(100 - ExamPer);
    }

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">

                <tr>
                    <th class="formTitle">技能名称：</th>
                    <td class="formValue">
                        @*<input id="PostName" type="text" class="txt" />*@
                        <input id="SkillName" type="text" class="txt" datacol="yes" err="技能名称" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">技能类型</th>
                    <td class="formValue">
                        <select id="SkillType" class="select" datacol="yes" err="技能类型" checkexpession="NotNull">

                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">考试占比</th>
                    <td class="formValue">
                        <table>
                            <tr>
                                <td>
                        <input id="ExamPer" type="text" class="txt" datacol="yes" err="考试占比" checkexpession="NotNull" onchange="calEvaluation()" />
                                    </td><td>%</td>
                                </tr>
                            </table>
                    </td>
                    <th class="formTitle">评审占比</th>
                    <td class="formValue">
                        <table>
                            <tr>
                                <td>
                        <input readonly id="EvaluationPer" placeholder="自动计算，无需填写" type="text" class="txt" datacol="yes" err="评审占比" checkexpession="NotNull" />
                                    </td>
                                <td>%</td>
                                </tr>
                            </table>
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">技能描述：</th>
                    <td class="formValue" colspan="3">
                        <textarea id="SkillDescripe" class="txt" style="width:500px;height:80px;" /></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">题目数量：</th>
                    <td class="formValue">
                        <input id="QuestionNum" type="text" class="txt" datacol="yes" err="题目数量" checkexpession="NumOrNull" onfocus="IsNumber(this.id)" />
                    </td>

                    <th class="formTitle">考试时间（min）</th>
                    <td class="formValue">
                        <input id="ExamMinutes" type="text" class="txt" datacol="yes" err="考试时间" checkexpession="NumOrNull" onfocus="IsNumber(this.id)" />

                    </td>
                </tr>
                @*课件视频部分注销，放到上*@
                <tr style="display:none">
                    
                    <th class="formTitle">课件视频</th>
                    <td class="formValue">
                        <input id="VideoSrc" type="text" class="txt" datacol="yes" />

                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        

                    </td>

                </tr>
            </table>
        </div>


    </div>

</form>
