@{
    ViewBag.Title = "DownForm";
    Layout = null;
}

<link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
<link href="~/Content/Styles/learunui-accordion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/Content/Scripts/learunui-framework.js"></script>

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>


<table class="gridtable" border="1" bordercolor="#000000" style="border-collapse: collapse;">

    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/遏制表模板.ppt" download="遏制表模板下载" \>遏制表模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/根本原因分析模板.ppt" download="根本原因分析模板下载" \>根本原因分析模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/纠正措施模板.ppt" download="纠正措施模板下载" \>纠正措施模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/防错法模板.ppt" download="防错法模板下载" \>防错法模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/分层审核模板.jpg" download="分层审核模板下载" \>分层审核模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/措施跟踪模板.ppt" download="措施跟踪模板下载" \>措施跟踪模板下载</a>
        </td>
    </tr>

    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/FMEACP更新模板.ppt" download="FMEACP更新模板下载"\>FMEACP更新模板下载</a>
        </td>
        </tr>

    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/标准更新.ppt" download="标准更新模板下载" \>标准更新模板下载</a>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px #000000; ">
            <a href="../../../../Template/检验教训模板.ppt" download="检验教训模板下载" \>检验教训模板下载</a>
        </td>
    </tr>
    

</table>
