@{
    ViewBag.Title = "工序明细";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    string UserName = ViewData["UserName"] as string;
}

<link href="~/Content/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/Scripts/uploadify/jquery.uploadify.js"></script>
<link href="~/Content/Scripts/SearchableSelect/jquery.searchableSelect.css" rel="stylesheet" />
<script src="~/Content/Scripts/SearchableSelect/jquery.searchableSelect.js"></script>


<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
        BindData();
        $("#ResponseID").searchableSelect();
        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/FYModule/ChangeData/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
                document.getElementsByClassName("searchable-select-holder")[0].innerHTML = $("#ResponseID").find("option:selected").text();
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/FYModule/ChangeData/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function BindData()
    {
        $("#DepartmentID").html("");

        $("#DepartmentID").append("<option value=''>==请选择==</option>");
        AjaxJson("/FYModule/ChangeData/DepartmentJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DepartmentID").append($("<option></option>").val(DataJson[i].DepartmentId).html(DataJson[i].FullName));
            });
        })

        $("#ResponseID").html("");

        $("#ResponseID").append("<option value=''>==请选择==</option>");
        AjaxJson("/FYModule/ChangeData/ResponseJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ResponseID").append($("<option></option>").val(DataJson[i].UserId).html(DataJson[i].RealName));
            });
        })
    }

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">
                <tr>
                    <th class="formTitle">评审人：</th>
                    <td class="formValue">
                        <select id="ResponseID"></select>
                    </td>
                    <th class="formTitle">：</th>
                    <td class="formValue">
                        
                    </td>

                </tr>

                <tr>
                    <th class="formTitle">评审部门：</th>
                    <td class="formValue">
                        <select id="DepartmentID"></select>
                    </td>
                    <th class="formTitle">评审内容：</th>
                    <td class="formValue">
                        <input id="ChangeData" type="text" class="txt" />
                    </td>
                </tr>
                <tr style="height:50px">
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                </tr>
                <tr style="height:50px">
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                </tr>
                <tr style="height:50px">
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                    <th class="formTitle"></th>
                    <td class="formValue"> </td>
                </tr>

            </table>
        </div>


    </div>

</form>
