@{
    ViewBag.Title = "课程选择";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    .tools_bar {
        text-align: center;
        font-size: 15pt;
        background-color: #4e72b8;
        font-family: "Microsoft YaHei";
        font-weight: bold;
    }

    .circle {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin-right: 100px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #E0FFFF;
        float: left;
    }

    .circleTop {
        width: 100px;
        height: 50px;
        line-height: 100px;
        text-align: center;
        margin-right: 100px;
        margin-left: 50px;
        /*margin-top: 20px;
        margin-bottom: 20px;*/
        float: left;
    }
</style>
<script src="~/Content/Scripts/jquery.echarts/echarts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        GetGeneralData();

    });



    function GetGeneralData() {

        $.ajax({
            type: "post",
            url: "/TrainModule/Project/GetGeneralData?ProjectID=" + GetQuery('KeyValue'),
            async: false,
            success: function (msg) {
                $("#yuan2").html(msg);
            },
            error: function () {
                alert("出错了");
            }
        });

        $.ajax({
            type: "post",
            url: "/TrainModule/Project/GetGeneralData1?ProjectID=" + GetQuery('KeyValue'),
            async: false,
            success: function (msg) {
                $("#yuan1").html(msg);
            },
            error: function () {
                alert("出错了");
            }
        });

        $.ajax({
            type: "post",
            url: "/TrainModule/Project/GetGeneralData2?ProjectID=" + GetQuery('KeyValue'),
            async: false,
            success: function (msg) {
                $("#yuan3").html(msg);
            },
            error: function () {
                alert("出错了");
            }
        });


           var X = new Array();
            var Y = new Array();
            
            var durl = encodeURI('@Url.Action("GetPictureData", "Project")?ProjectID=' + GetQuery('KeyValue'));
        $.ajax({
            type: "post",
            url: durl,
            async: false,
            success: function (data) {
                var dataA = new Array();
                dataA = data.split("|");

                X = dataA[0].split(",");
               
                Y = dataA[1].split(",");
               
            }

            });
        //利用js根据Y轴的内容自动控制高度
        $("#main").height(Y.length*20);
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            title: {
                text: '课程排名'
                
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['已获得学分']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: Y,
                axisLabel: {
                    interval: 0,//横轴信息全部显示  
                    //rotate: -90,//-30度角倾斜显示  
                }  
            },
            series: [
                {
                    name: '已获得学分',
                    type: 'bar',
                    data: X,
                    itemStyle: { normal: { label: { show: true, position: 'right' } } }
                }

            ]
        };
        
        myChart.setOption(option);
    }






</script>

<!--左边-->
<!--中间-->
<div>
    @*<div class="btnbartitle">

        </div>*@

    <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
        @*<div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>*@
        课程概况
    </div>
    <div>
        <div class="circleTop">总课程/完成数</div>
        <div class="circleTop">总学分/获得学分</div>
        <div class="circleTop">总学时/完成学时</div>
    </div>
    <div>
        <div id="yuan1" class="circle"></div>
        <div id="yuan2" class="circle">30/20</div>
        <div id="yuan3" class="circle">30/20</div>
    </div>
    <!--列表-->

    <div id="main" style="width: auto;height:400px"></div>

</div>

