@{
    ViewBag.Title = "项目管理Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
   

}

<link href="~/Content/Styles/buttons.css" rel="stylesheet" />

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    var array = new Array();
    var AllScore = 0;
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
       
        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();
        $('input[id$="Date"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/TrainModule/project/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);

            });

            var rowindex = 1;
            //题目信息
            AjaxJson("/TrainModule/project/GetDetailList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addone(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#SkillID➩" + rowindex).val(rowData.SkillID);
                    $("#SkillName➩" + rowindex).val(rowData.SkillName);
                    $("#Score➩" + rowindex).val(rowData.Score);
                    //$("#RelationDID➩" + rowindex).val(rowData.RelationDID);
                    rowindex++;
                    array[i] = rowData.SkillID;

                    AllScore += Number(rowData.Score);
                });
                $("#AllScore").val(AllScore);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var DetailForm = GetTableDataJson("#DetailForm");
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["DetailForm"] = DetailForm;
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/TrainModule/project/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }


    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);

        
        //只剩行首时删除表格
        //if (tbody.rows.length == 1) {
        //    tbody.parentNode.removeChild(tbody);
        //}
        //删除数组中的值
        //removeByValue(array,)
    }

    function removeByValue(arr, val) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == val) {
                arr.splice(i, 1);
                break;
            }
        }
    }

    function addone(i) {
        //alert(i);
        var tab = document.getElementById('DetailForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();
        

        td1.innerHTML = "<input readonly id=\"SortNO➩" + i + "\" class=\"txt\" value=" + i + ">";
        td2.innerHTML = "<input style=\"width:95%\" readonly ondblclick='ChooseSkill(" + i + ")' id='SkillName➩" + i + "' type=\"text\" class=\"txt\"><input readonly id=\"SkillID➩" + i + "\" type=\"hidden\" class=\"txt\">";
        td3.innerHTML = "<select onchange=\"ChangeAllScore("+i+")\" id='Score➩" + i + "' class=\"select\" datacol=\"yes\" err=\"学分\" checkexpession=\"NotNull\"> <option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option></select>";
        
        td4.innerHTML = "<button onclick='deleteCurrentRow(this)'>删除</button>";

        //初始化行;
        //initRows(tab);
    }

    function ChangeAllScore(i) {
        //AllScore = AllScore + Number($("#Score➩" + i).val());
        //$("#AllScore").val(AllScore);
        AllScore = 0;
        $('select[id^="Score"]').each(function () {
            //alert(11);
            AllScore = AllScore + Number(this.value);
        });
        $("#AllScore").val(AllScore);
    }
    
    function addbatch() {

        //////试试用div写
        layer.open({
            type: 2,  //2表示ifrmae弹出层
            title: '技能选择',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['550px', '350px'],
            content: 'SkillListBatch'
        });
    }

    function selectSkillChrome(reValue) {//为打开的窗口定义方法，让打开的窗口关闭时通过window.opener赋值回来并执行  
        for (var i = 0; i < reValue.length; i++) {


            var tab = document.getElementById('DetailForm');
            var rowIndex = tab.rows.length + 1;
            var j = rowIndex - 2;
            if (!IsExistItem(j, reValue[i].SkillID)) {
                addone(999);
                $("#SkillName➩" + j).val(reValue[i].SkillName);
                $("#SkillID➩" + j).val(reValue[i].SkillID);
                ChangeAllScore(0);
            }
            else {
                top.TipMsg("该技能已存在,不能重复添加", 4000, "error");
            }

        }

    }  

    function IsExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            array[index] = code;
            return false;
        } else {
            return true;
        }
    }

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">



                <tr>
                    <th class="formTitle">项目名称：</th>
                    <td class="formValue" colspan="3">

                        <input id="ProjectName" type="text" class="txt" datacol="yes" err="项目名称" checkexpession="NotNull" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">开始日期：</th>
                    <td class="formValue">
                        <input id="StartDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" err="开始日期" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">结束日期：</th>
                    <td class="formValue">
                        <input id="EndDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" err="结束日期" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注：</th>
                    <td class="formValue" colspan="3">

                        <input id="Remark" type="text" class="txt" datacol="yes" />
                    </td>
                </tr>
            </table>
            <table id="DetailForm" class="form-bill">
                <tr><td colspan="2"><strong>题目数据</strong></td><td><a class="button button-caution button-square button-small" onclick="addbatch()">添加</a></td></tr>
                <tr>
                    @*<th style="width:5%;display:none">题目ID</th>*@
                    <th style="width:10%">序号</th>
                    <th style="width:50%">技能</th>
                    <th style="width:20%">学分</th>

                    <th style="width:20%">删除</th>
                </tr>

            </table>
        </div>
        
        <div style="float:right">
            总学分：<input readonly id="AllScore" class="txt">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>



    </div>

</form>
