@{
    ViewBag.Title = "ViewVideo";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<link href="~/Content/Scripts/video.js/css/video-js.css" rel="stylesheet" />
<script src="~/Content/Scripts/video.js/js/video.min.js"></script>
<script src="~/Content/Scripts/video.js/js/videojs-ie8.min.js"></script>

<style>
    /*body {
        background-color: #191919
    }*/

    /*.m {
        width: 740px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }*/

    video::-internal-media-controls-download-button {
        display: none;
    }

    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }

    .vid-wrapper {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%; /*需要用padding来维持16:9比例,也就是9除以16*/
        height: 0;
    }

    .btn_pr {
        background: #3498db;
        /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
        /*-webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;*/
        color: #ffffff;
        font-family: "Microsoft YaHei";
        font-size: 11pt;
        /*padding: 12px 30px 12px 30px;*/
        text-decoration: none;
    }

    #hour {
        font-size: 12pt;
    }
    #minute {
        font-size: 12pt;
    }
    #secend {
        font-size: 12pt;
    }
</style>
<table>
    <tr>
        <td colspan="2">
        <div>
    @*<video id="my-video" class="video-js" controls preload="auto" width="740" height="400"
               poster="m.png" data-setup="{}">
            <source src="@ViewData["VideoSrc"]" type="video/mp4">
        </video>
        <script src="js/video.min.js"></script>
        <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function () {
                var myPlayer = this;
                myPlayer.play();
            });
        </script>*@
    <video id="Video" width="1200" height="650" controls="controls" autoplay="autoplay">

        <source src="@ViewData["VideoSrc"]" type="video/mp4" />
    </video>
</div> </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td align="right">
            <div style="float:right">
                <input class="btn_pr" type="button" value="签到退出" onclick="stopCount()" />
            </div>
           <div style="width:10px"></div>
           <div style="float:right" id="TimeCount">
               <span id="hour">00</span>
               <span>:</span>
               <span id="minute">00</span>
               <span>:</span>
               <span id="secend">00</span>
           </div>

        </td>
    </tr>
</table>




<script>

    var c = parseInt($("#secend").html());
    var m = parseInt($("#minute").html());
    var h = parseInt($("#hour").html());


    function timedCount() {
        //// 秒针   
        c++;
        //console.log(c);
        c < 10 ? c = "0" + c : c;
        if (c === 60) {
            c = 0;
        }
        // 写回到页面中  
        $("#secend").html(c);


        //// 分针、时针  
        if (c % 60 === 0) {
            m++;
            m < 10 ? m = "0" + m : m;
            if (m === 60) {
                m = 0;
                h++;
                h < 10 ? h = "0" + h : h;
                if (h === 24) {
                    h = 0;
                }
            }
        }
        // 写回到页面中
        if (m == 0) {
            $("#minute").html('00');
        }
        else {
            $("#minute").html(m);
        }
        if (h == 0) {
            $("#hour").html('00');
        }
        else {
            $("#hour").html(h);
        }
    }


    var start = setInterval("timedCount()", 1000);


    //////////定义停止计时函数  
    function stopCount() {
        var c = parseInt($("#secend").html());
        var m = parseInt($("#minute").html());
        var h = parseInt($("#hour").html());

        //alert(c);
        //alert(m);
        //alert(h);
        var studymin = m + h * 60;

        var postData = { SkillID: GetQuery('SkillID'), StudyMin: studymin }
        //alert(DetailForm);
        // postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
        AjaxJson("/TrainModule/Project/StudyDone", postData, function (data) {
            //tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].Get_data();
            //alert(data.Content);
            closeDialog();
        });
    }   

    $(document).ready(function () {
        timedCount();
    });

    //function setControl() {
    //    var video = document.getElementById("video");
    //    video.controls = true;
    //}
    //setInterval("setControl()", 400);
    //setTimeOut("setControl()", 10);
</script>