@{
    ViewBag.Title = "附件安装合同";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

}
<link href="~/Content/Styles/buttons.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.xlsx/xlsx.full.min.js"></script>

@*<link href="~/Content/Scripts/uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/Content/Scripts/uploadify/jquery.uploadify.js"></script>*@

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {

        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/TCModule/shortcontract/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);


                if (String(data["Attachment"]) != "" && String(data["Attachment"]) != "null" && data["Attachment"] != undefined && String(data["Attachment"]) != "&nbsp;") {

                    //document.getElementById("uploadify").style.display = "none";

                    var address = String(data["Attachment"]).replace('~', '../../../../')
                    document.getElementById("attach").innerHTML = "<a href=\"" + address + "\" download=\"附件下载\">附件下载</a>";
                    document.getElementById("attach").style.display = "block";
                }
            });
           
        }
    }
    //保存事件
    function AcceptClick() {
        $("#filePath").remove();
        var IsNew = 0;
        if (confirm("是否要保存为新版本？")) {
            IsNew = 1;
        }
        if (!CheckDataValid('#form1')) {
            return false;
        }
        
        //alert(DetailForm);
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var shortcontractData = GetWebControls("#form1");
            shortcontractData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));

            
            AjaxJson("/TCModule/shortcontract/SubmitForm?KeyValue=" + GetQuery('KeyValue') + "&IsNew=" + IsNew, shortcontractData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    //绑定数据
    //function BindData() {

    //    $("#shortcontractType").html("");

    //    $("#shortcontractType").append("<option value=''>==请选择==</option>");
    //    AjaxJson("/TCModule/shortcontract/TypeJson", {}, function (DataJson) {
    //        $.each(DataJson, function (i) {
    //            $("#shortcontractType").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
    //        });
    //    });
    //}

    
   




</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>
                
            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">
                <tr>
                    <th class="formTitle">合同名称：</th>
                    <td class="formValue">

                        <input id="ContractName" type="text" class="txt" datacol="yes" err="合同名称" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">合同编码：</th>
                    <td class="formValue">

                        <input id="ContractNo" type="text" class="txt" datacol="yes" err="合同编码" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">生产基地</th>
                    <td class="formValue">
                        <input id="ProduceBase" type="text" class="txt" datacol="yes" err="生产基地" checkexpession="NotNull" />
                        @*<input id="TrueMaterialNO" type="text" class="txt" datacol="yes" err="物料编码" checkexpession="NotNull" />*@
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">物料：</th>
                    <td class="formValue">

                        <input id="MaterialNO" type="text" class="txt" datacol="yes" err="物料名称" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">车型：</th>
                    <td class="formValue">

                        <input id="CarType" type="text" class="txt" datacol="yes" err="车型" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">零件号：</th>
                    <td class="formValue">

                        <input id="PartNO" type="text" class="txt" datacol="yes" err="零件号" checkexpession="NotNull" />
                    </td>


                </tr>
                <tr>
                    <th class="formTitle">产品名称：</th>
                    <td class="formValue" colspan="1">

                        <input id="ProductName" type="text" class="txt" datacol="yes" err="产品名称" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">箱子尺寸(长*宽*高)：</th>
                    <td class="formValue" colspan="3">
                        <table>
                            <tr>
                                <td>
                        <input id="length" type="text" class="txt"  err="箱子长" checkexpession="NotNull" style="width:30%" />*
                        <input id="width" type="text" class="txt"  err="箱子宽" checkexpession="NotNull" style="width:30%" />*
                        <input id="height" type="text" class="txt"  err="箱子高" checkexpession="NotNull" style="width:30%" />
                                    </td>
                                </tr>
                            </table>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">上线料架装箱片数：</th>
                    <td class="formValue">

                        <input id="EveryShelfAmount" type="text" class="txt" datacol="yes" err="上线料架装箱片数" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">9.6米可装片数：</th>
                    <td class="formValue">

                        <input id="AveriableAmount" type="text" class="txt" datacol="yes" err="9.6米可装片数" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">玻璃运费（单片）（元）：</th>
                    <td class="formValue">

                        <input id="GlassFare" type="text" class="txt" datacol="yes"/>
                    </td>


                </tr>

                <tr>
                    <th class="formTitle">铁箱返回费用（单片）元：</th>
                    <td class="formValue">

                        <input id="IronBoxReturnCost" type="text" class="txt" datacol="yes" />
                    </td>

                    <th class="formTitle">合计运费（元）：</th>
                    <td class="formValue">

                        <input id="AllFare" type="text" class="txt" datacol="yes" />
                    </td>

                    <th class="formTitle">元/每车玻璃</th>
                    <td class="formValue">

                        <input id="EveryCarGlassCost" type="text" class="txt" datacol="yes" err="元/每车玻璃" checkexpession="NotNull" />
                    </td>


                </tr>

                <tr>
                    <th class="formTitle">元/每车铁箱</th>
                    <td class="formValue">

                        
                        <input id="EveryCarIronBoxCost" type="text" class="txt" datacol="yes" err="元/每车铁箱" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle"></th>
                    <td class="formValue">
                    </td>

                    <th class="formTitle"></th>
                    <td class="formValue"> 
                    </td>


                </tr>

                <tr>
                    <th class="formTitle">附件下载：</th>
                    <td class="formValue" colspan="5">

                        <table>
                            <tr>

                                <td>
                                    <label id="attach" />
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <th class="formTitle">备注：</th>
                    <td class="formValue" colspan="5">
                        @*<input id="Remark" type="text" class="txt" />*@
                        <textarea id="Remark" class="txt" style="width:540px;height:80px;" /></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">打印备注：</th>
                    <td class="formValue" colspan="5">
                        @*<input id="PrintRemark" type="text" class="txt" />*@
                        <textarea id="PrintRemark" class="txt" style="width:540px;height:80px;" /></textarea>

                    </td>
                </tr>

            </table>
        </div>

    </div>


</form>
