@{
    ViewBag.Title = "判断题";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

}

<link href="~/Content/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/Scripts/uploadify/jquery.uploadify.js"></script>

<link href="~/Content/Scripts/jquery.select2/css/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.select2/js/select2.js"></script>

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
        BindData();
        InitControl();

        $("#UserID").select2();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/DormModule/CostAdjust/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);

            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/DormModule/CostAdjust/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function BindData() {

        $("#UserID").html("");

        $("#UserID").append("<option value=''>==请选择==</option>");
        AjaxJson("/DormModule/CostAdjust/UserList", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#UserID").append($("<option></option>").val(DataJson[i].CheckInID).html(DataJson[i].PersonName));
            });
        });
    }

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">

                <tr>
                    <th class="formTitle">调整人：</th>
                    <td class="formValue">
                        <select id="UserID" class="select" datacol="yes" style="width:90%"></select>


                    </td>

                    <th class="formTitle">调整日期</th>
                    <td class="formValue">
                        <input id="AdjustDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">调整金额：</th>
                    <td class="formValue">

                        <input id="AdjustNum" type="text" class="txt" datacol="yes" err="调整金额" checkexpession="NotNull" />

                    </td>

                    <th class="formTitle"></th>
                    <td class="formValue"></td>
                </tr>
                <tr>
                    <th class="formTitle">备注：</th>
                    <td class="formValue" colspan="3">
                        <input id="Remark" type="text" class="txt" datacol="yes" err="备注" checkexpession="NotNull" />
                    </td>


                </tr>

            </table>
        </div>


    </div>

</form>
