@{
    ViewBag.Title = "房费计算";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    
}

<link href="~/Content/Scripts/jquery.monthpicker/jquery.monthpicker.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.monthpicker/jquery.monthpicker.js"></script>

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {

        $('#InputDate').monthpicker({
            years: [2022, 2021, 2020, 2019, 2018,2017],
            topOffset: 6
        })

        BindData();
        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/DormModule/RoomCost/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);

            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/DormModule/RoomCost/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function BindData() {

        $("#DormID").html("");

        $("#DormID").append("<option value=''>==请选择==</option>");
        AjaxJson("/DormModule/Room/DormList", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DormID").append($("<option></option>").val(DataJson[i].DormID).html(DataJson[i].DormName));
            });
        });
    }

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">

                <tr>
                    <th class="formTitle">楼栋：</th>
                    <td class="formValue">


                        <select id="DormID" class="select" datacol="yes" err="楼栋" checkexpession="NotNull"></select>
                    </td>

                    <th class="formTitle">房间号：</th>
                    <td class="formValue">
                        <input id="RoomNO" type="text" class="txt" datacol="yes" err="房间号" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">计费月份</th>
                    <td class="formValue">
                        <input id="InputDate" type="text" class="txt" datacol="yes" err="房间号" checkexpession="NotNull" />
                        
                    </td>
                </tr>
                <tr style="display:none">
                    <th class="formTitle">计费开始日期：</th>
                    <td class="formValue">
                        <input id="StartDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" />
                    </td>
                    <th class="formTitle">计费结束日期：</th>
                    <td class="formValue">
                        <input id="EndDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" />
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">上月水表：</th>
                    <td class="formValue">


                        
                        <input id="PreWater" type="text" class="txt" datacol="yes" err="上月水表" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">当前水表：</th>
                    <td class="formValue">
                        <input id="NowWater" type="text" class="txt" datacol="yes" err="当前水表" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">水费单价</th>
                    <td class="formValue">
                        <input id="WaterPrice" type="text" class="txt" datacol="yes" err="当前水表" checkexpession="NotNull" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">上月电表：</th>
                    <td class="formValue">


                        
                        <input id="PreElectric" type="text" class="txt" datacol="yes" err="当前电表" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">当前电表：</th>
                    <td class="formValue">
                        <input id="NowElectric" type="text" class="txt" datacol="yes" err="当前电表" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">电费单价</th>
                    <td class="formValue">
                        <input id="ElectricPrice" type="text" class="txt" datacol="yes" err="电费单价" checkexpession="NotNull" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">电费总价：</th>
                    <td class="formValue">


                        <input placeholder="自动计算，不用填写"  readonly id="ElectricPriceAll" type="text" class="txt" datacol="yes" />
                    </td>

                    <th class="formTitle">水费总价：</th>
                    <td class="formValue">
                        <input placeholder="自动计算，不用填写" readonly id="WaterPriceAll" type="text" class="txt" datacol="yes"  />
                    </td>
                    <th class="formTitle">电视费</th>
                    <td class="formValue">
                        <input id="TVFee" type="text" class="txt" datacol="yes" err="电视费" checkexpession="NotNull" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">物管费：</th>
                    <td class="formValue">
                        <input id="PropertyFee" type="text" class="txt" datacol="yes" err="物管费" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">租金：</th>
                    <td class="formValue">
                        <input id="Rent" type="text" class="txt" datacol="yes" err="租金" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">维护费</th>
                    <td class="formValue">
                        <input id="MaintenanceFee" type="text" class="txt" datacol="yes" err="维护费" checkexpession="NotNull" />
                    </td>
                </tr>


                <tr>
                    <th class="formTitle">备注：</th>
                    <td class="formValue" colspan="5">

                        <input id="Remark" type="text" class="txt" datacol="yes" err="备注" checkexpession="NotNull" />

                    </td>


                </tr>

            </table>
        </div>


    </div>

</form>
