@{
    ViewBag.Title = "用户管理》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {

        BindGroup();
        InitControl();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //if (!!GetQuery('CompanyId')) {
        //    //获取公司名称
        //    AjaxJson("/CommonModule/Company/SetForm", { KeyValue: "" }, function (data) {
        //        $("#CompanyId").val(data.CompanyId);
        //        $("#CompanyName").val(data.FullName);
        //    });
        //    //绑定部门
        //    BindDepartment(); $("#DepartmentId").val(GetQuery('DepartmentId'));
        //}
    })
    //初始化绑定下拉框
    function BindCombobox() {
        //加载公司
        $("#CompanyName").focus(function () {
            var objId = this.id;
            comboBoxTree(objId, "150px");
            var itemtree = {
                onnodeclick: function (item) {
                    $("#CompanyId").val(item.id);
                    $('#CompanyName').val(item.text);
                    //加载部门
                    BindDepartment();
                },
                url: "@Url.Content("~/CommonModule/Company/TreeJson")"
            };
            $("#comboBoxTree" + objId).treeview(itemtree);
        })
        //工作性质
        BindDropItem("#WorkingProperty", "WorkingProperty", "==请选择==");
        //职务
        BindDropItem("#Duty", "Duty", "==请选择==");
        //学历
        BindDropItem("#Education", "Education", "==请选择==");
        //最高学位
        BindDropItem("#Degree", "Degree", "==请选择==");
        //职业资格
        BindDropItem("#Competency", "Professional", "==请选择==");

    }
    //部门下拉框
    function BindDepartment() {
        $("#DepartmentId").html("");
        $("#DepartmentId").append("<option value=''>==请选择==</option>");
        AjaxJson("/CommonModule/Department/ListJson", { CompanyId: $("#CompanyId").val() }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DepartmentId").append($("<option></option>").val(DataJson[i].departmentid).html(DataJson[i].fullname));
            });
        })
    }
    function BindGroup() {
        $("#SZBZ").html("");
        $("#SZBZ").append("<option value=''>==请选择==</option>");
        AjaxJson("/FYModule/RapidUser/ListJson", { CompanyId: $("#CompanyId").val() }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#SZBZ").append($("<option></option>").val(DataJson[i].GroupUserId).html(DataJson[i].FullName));
            });
        })
    }
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/User/SetUserForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
                BindDepartment(); $("#DepartmentId").val(data.DepartmentId);
                $("#Password").val("******");
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            var groupid = $("#SZBZ").val();
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/CommonModule/User/SubmitUserForm?KeyValue=" + GetQuery('KeyValue')+"&type=2&groupid=" + groupid, postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }
</script>
<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>
                @*<div id="Tabwork" class="tab_list bd " onclick="Tabchange('work')">工作相关</div>
                    <div id="TabCustomAttribute" class="tab_list bd " onclick="Tabchange('CustomAttribute')">自定义属性</div>*@
            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">
                <tr>
                    <th class="formTitle">工号：</th>
                    <td class="formValue">
                        <input id="Code" onblur="FieldExist(this.id,'Base_User','UserId','工号')" type="text" class="txt required" datacol="yes" err="工号" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">姓名：</th>
                    <td class="formValue">
                        <input id="RealName" type="text" class="txt required" datacol="yes" err="真实" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">登录账户：</th>
                    <td class="formValue">
                        <input id="Account" type="text" class="txt required" datacol="yes" err="登录账户" checkexpession="NotNull" />
                    </td>
                    <th class="formTitle">
                        登录密码：
                    </th>
                    <td class="formValue">
                        <input id="Password" type="Password" class="txt required" datacol="yes" err="登录密码" checkexpession="NotNull" />
                    </td>
                </tr>
               


                <tr>
                    <th class="formTitle">电子邮箱：</th>
                    <td class="formValue">
                        <input id="Email" type="text" class="txt" />
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                        @*<select id="SZBZ" class="txtselect" datacol="yes" err="所在班组" checkexpession="NotNull"></select>*@
                    </td>
                </tr>
               
                <tr>
                    <th class="formTitle"></th>
                    <td class="formValue" colspan="3">
                        <span class="item">
                            <input id="InnerUser" name="InnerUser" type="checkbox" checked="checked" style="vertical-align: middle;" />
                            <label for="InnerUser" style="vertical-align: middle;">内部员工</label>
                            &nbsp;&nbsp;
                        </span>
                        <span class="item">
                            <input id="Enabled" name="Enabled" type="checkbox" checked="checked" style="vertical-align: middle;" />
                            <label for="Enabled" style="vertical-align: middle;">有效</label>
                        </span>
                        <label style="vertical-align: middle; color: red;">注意：禁用该用户后，将不能登录。</label>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        说明：
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" class="txtArea" rows="6"></textarea>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</form>
