
@{
    ViewBag.Title = "ProcessRepairIndex";
}

<h2>ProcessRepairIndex</h2>



<body>
    <div data-role="page">

        <div data-role="header">
            <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">后退</a><h1>已完成列表</h1>
        </div>

        <div data-role="content">
            @Html.Raw(ViewData["data"])
        </div>

        <div data-role="footer">
            <h1>develop by--shenjun</h1>
        </div>

    </div>
</body>

