
@{
    ViewBag.Title = "InertRepair";

}

<style>
    .addBorder {
        border: 1px solid #ccc;
    }

    #imgDiv {
        width: 100px;
        height: 100px;
    }

    #imgContent {
        width: 100%;
        height: 100%;
    }  
</style>
<link href="~/Content/Scripts/jquery.mobile/jquery.mobile-1.4.5.css" rel="stylesheet" />
<script src="~/Content/Scripts/learunui-framework.js"></script>



<script src="~/Content/Scripts/jquery.mobile/jquery.mobile-1.4.5.js"></script>

@*<script src="~/Content/Scripts/exif.js"></script>*@
<body>
    <div data-role="page">

        <div data-role="header">
            <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">后退</a><h1>新增报修</h1>
        </div>

        <div data-role="content">

            <label for="fname">楼栋号:</label><select id="DormID"> </select>
            <label for="fname">房间号:</label><input type="text" id="RoomNO" err="房间号" checkexpession="NotNull">

            <label for="fname">手机号:</label><input type="text" id="PhoneNumber" err="手机号" checkexpession="NotNull">

            <label for="fname">故障描述:</label><select id="Descripe"> </select>

            <label for="fname">备注:</label><input type="text" id="Remark">

            <form id="imgForm">
                <label for="fname">图片上传:</label>

                <input onchange="loadPicture()" type="file" name="file" id="file">

                <button id="insert">提交</button>
            </form>



            <div class="addBorder" id="imgDiv">
                <img id="imgContent">
            </div>

        </div>
       
        <div data-role="footer">
            <h1>develop by--shenjun</h1>
        </div>

    </div>

   

</body>

<script>
    $(document).ready(function () {
        //alert(11);
        BindData();

    })


    function CheckIsNullNoTip(id) {
        var isOK = true;
        if (id == undefined || id == "" || id == 'null' || id == 'undefined' || id == '&nbsp;') {
            isOK = false;
            //tipDialog('请填写开始条件', 4, 'warning');
        }
        return isOK;
    }

    //|| CheckIsNullNoTip($("#imgContent")[0].src) == false 去除图片必填的检测
    $("#insert").on("tap", function () {
        if (CheckIsNullNoTip($("#DormID").val()) == false || CheckIsNullNoTip($("#DormID").val()) == false || CheckIsNullNoTip($("#PhoneNumber").val()) == false || CheckIsNullNoTip($("#Descripe").val()) == false ) {
            alert("请填写完整数据再提交");
            return false;
        }
        if ($("#Descripe").val() == "其他") {
            if (CheckIsNullNoTip($("#Remark").val()) == false) {
                alert("当故障类型为其他时，请再备注中详细描述故障情况")
                return false;
            }
        }
        //alert($("#Descripe").val());
        var postData = {
            Dorm: $("#DormID").val(),
            RoomNO: $("#RoomNO").val(),
            PhoneNumber: $("#PhoneNumber").val(),
            Descripe: $("#Descripe").val(),
            Remark: $("#Remark").val(),
            Picture: $("#imgContent")[0].src
        }

        $.ajax({
            type: "post",
            url: "/Home/InsertRepairAjax",
            data: postData,
            async: false,
            success: function (rs) {
                alert("提交成功");
                window.location.href = '@Url.Content("~/Home/ProcessRepairIndex")';
            },
            error: function () {
                alert("出错了");
            }
        })
    })

    //UploadPicture


        function BindData() {

            $("#DormID").html("");

            $("#DormID").append("<option value=''>==请选择==</option>");
            AjaxJson("/Home/DormList", {}, function (DataJson) {
                $.each(DataJson, function (i) {
                    $("#DormID").append($("<option></option>").val(DataJson[i].DormID).html(DataJson[i].DormName));
                });
            });

            $("#Descripe").html("");

            $("#Descripe").append("<option value=''>==请选择==</option>");
            AjaxJson("/Home/RepairDescripeList", {}, function (DataJson) {
                $.each(DataJson, function (i) {
                    $("#Descripe").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
                });
            });
        }


    $("#UploadPicture").on("tap", function () {
        var file = $("#imgForm").find("input")[0].files[0];
        //alert(file);
        //创建读取文件的对象  
        var reader = new FileReader();

        //创建文件读取相关的变量  
        var imgFile;

        //为文件读取成功设置事件  
        reader.onload = function (e) {
            //alert('文件读取完成');
            imgFile = e.target.result;
            
            
            $("#imgContent").attr('src', imgFile);
        };

        //正式读取文件  
        reader.readAsDataURL(file);
        
    }
    )

    function loadPicture() {
        var file = $("#imgForm").find("input")[0].files[0];
        //alert(file);
        //创建读取文件的对象  
        var reader = new FileReader();

        //创建文件读取相关的变量  
        var imgFile;

        //为文件读取成功设置事件  
        reader.onload = function (e) {
            //alert('文件读取完成');
            imgFile = e.target.result;
            console.log(imgFile);
            $("#imgContent").attr('src', imgFile);
        };

        //正式读取文件  
        reader.readAsDataURL(file);
    }
</script>