@{
    ViewBag.Title = "InsertPlan";
    Layout = null;
}

<link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
<link href="~/Content/Styles/learunui-accordion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/Content/Scripts/learunui-framework.js"></script>
<link href="~/Content/Styles/buttons.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker/WdatePicker.js"></script>
<link href="~/Content/Scripts/SearchableSelect/jquery.searchableSelect.css" rel="stylesheet" />
<script src="~/Content/Scripts/SearchableSelect/jquery.searchableSelect.js"></script>
<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>

<table align=center valign=middle>
    <tr>
        <td>问题责任人</td>
        <td>
            <select id="ResponseBy" class="txtselect"></select>
        </td>
    </tr>
    <tr>
        <td>问题描述</td>
        <td>
            <input id="Descripe" type="text" class="txt" />
        </td>
    </tr>
    <tr>
        <td>对应措施</td>
        <td>
            <input placeholder="可不填！由责任人填写" id="Action" type="text" class="txt" />
        </td>
    </tr>
    <tr>
        <td>计划完成时间</td>
        <td>
            <input id="PlanDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF;" />
        </td>
    </tr>
</table>

<div align=center valign=middle>
    <button class="button button-primary button-square button-small" onclick="cancel()">取消</button>
    <button class="button button-primary button-square button-small" onclick="confirm()">确认</button>


</div>
<script>
    function del()
    {
        window.returnValue = "del";
        window.close();
    }
    function cancel() {
        self.close();
    }
    function confirm() {
        var _Descripe = String($("#Descripe").val());
        var _ResponseBy = String($("#ResponseBy").val());
        var _Action = String($("#Action").val());
        var _PlanDate = String($("#PlanDate").val());

        if (_Descripe == "" || _ResponseBy == "" || _PlanDate=="")
        {
            alert("请填写完整项目再提交");
            return false;
        }
        var durl = encodeURI('@Url.Action("InsertAction", "Home")?problem=' + _Descripe + '&action1=' + _Action + '&response=' + _ResponseBy + '&plandate=' + _PlanDate);
        $.ajax({
            type: "post",
            url: durl,
            async: false,
            success: function (msg) {
                if (msg > 0) {
                    alert("更新成功");
                    //alert(checkResult);

                }
                else {
                    alert("出错了！");
                }
            },
            error: function () {
                alert("出错了");
            }
        });

        window.returnValue = 1;
        window.close();
    }
    function BindEvent()
    {



        $("#ResponseBy").html("");

        $("#ResponseBy").append("<option value=''>==请选择==</option>");
        AjaxJson("/Home/ResponseAllJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ResponseBy").append($("<option></option>").val(DataJson[i].UserId).html(DataJson[i].RealName));
            });
        })
    }

    $(document).ready(function () {
        BindEvent();
        $("#ResponseBy").searchableSelect();
    })
   //window.onload = BindEvent();
</script>
