
@{
    ViewBag.Title = "ProcessRepairIndex";
}

<link href="~/Content/Scripts/jquery.layer/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.layer/mobile/layer.js"></script>

<h2>ProcessRepairIndex</h2>



<body>
    <div data-role="page">

        <div data-role="header">
            <a href="DormPage" data-role="button" data-icon="arrow-l">后退</a><h1>处理中列表</h1>
        </div>

        <div data-role="content">
            @Html.Raw(ViewData["data"])
        </div>

        <div data-role="footer">
            <h1>develop by--shenjun</h1>
        </div>

    </div>
</body>



<script>
    function showPicture(RepairID) {
//点击li显示图片
    }

    function InsertRepair() {
        window.location.href = '@Url.Content("~/Home/InertRepair")';
    }


    function ProcessRepairIndex() {
        window.location.href = '@Url.Content("~/Home/ProcessRepairIndex")';
    }

    function CompleteRepairIndex() {
        window.location.href = '@Url.Content("~/Home/CompleteRepairIndex")';
    }
</script>

