@{
    ViewBag.Title = "ViewIntegral";
}

<body>
    <div data-role="page">

        <div data-role="header">
            <h1>评分明细</h1>
        </div>

        <div data-role="content">
            @Html.Raw(ViewData["Content"])
        </div>

        <div data-role="footer">
            <h1>develop by--shenjun</h1>
        </div>

    </div>
</body>

