@{
    ViewBag.Title = "DelOrDownload";
    Layout = null;
}

<style>
    .button1 {
        background-color: red; /* Green */
        border: none;
        color: white;
        height: 30px;
        width: 40px;
        text-align: center;
        /*text-decoration: none;*/
        /*font-family: 微软雅黑;*/
    }
</style>

<link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
<link href="~/Content/Styles/learunui-accordion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/Content/Scripts/learunui-framework.js"></script>
<link href="~/Content/Styles/buttons.css" rel="stylesheet" />


<div align=center valign=middle>
    <button class="button button-primary button-square button-small" onclick="del()">删除</button>
    <button class="button button-primary button-square button-small" onclick="confirm()">下载</button>

    @*<button class="button button-caution button-square button-small" onclick="del()">未生产</button>*@
    @*<button id="notproduce" onclick="del()" class="button1">未生产</button>*@
</div>

<script>
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

    function del() {
        parent.AttachmentDownload("del", GetQuery('FileID'));
        parent.layer.close(index);
        //window.returnValue = "del";
        //window.close();
    }

    function confirm() {
        parent.AttachmentDownload("down", GetQuery('FileID'));
        parent.layer.close(index);
        //window.returnValue = "down";
        //window.close();
    }
</script>