@{
    ViewBag.Title = "项目管理Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

}

<link href="~/Content/Styles/buttons.css" rel="stylesheet" />
<link href="~/Content/Scripts/jquery.select2/css/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.select2/js/select2.js"></script>

<link href="~/Content/Scripts/jquery.ssiupload/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/jquery.ssiupload/css/style.css" rel="stylesheet" />
<link href="~/Content/Scripts/jquery.ssiupload/css/ssi-uploader.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.ssiupload/js/ssi-uploader.js"></script>
<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }

    .addBorder {
        border: 1px solid #ccc;
    }

    #imgDiv {
        width: 100px;
        height: 100px;
    }

    #imgContent {
        width: 100%;
        height: 100%;
    }
</style>


<script type="text/javascript">
    var array = new Array();
    
    $(function () {
        BindDataNew();
        InitControl();
       
        $('input[id$="Date"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });

        $('input[id^="ActivityDate"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });
        $('input[id^="PutDate➩"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });
        $('input[id^="PlanDate➩"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });

        $('input[id^="FinishDate➩"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });

        $("#table tr td").each(function (i) {
            //自动换换(“#table tr td”).each(function(i){                   //自动换换 
            (this).css({ "word-break": "break-all", "word-wrap": "break-word" });
        });

       


    })

    function BindDataNew() {
        $("#responseby").html("");

        $("#responseby").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/GetProjectUserJson", { ProjectID: GetQuery('KeyValue') }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#responseby").append($("<option></option>").val(DataJson[i].UserID).html(DataJson[i].UserName));
            });

        })
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            var MemberArr;
            var rowindex = 1;
            rowindex = 1;
            AjaxJson("/ProjectManageModule/project/GetActivityList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addactivity(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.PictureUrl);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#ProjectActivityID➩" + rowindex).val(rowData.ProjectActivityID);
                    $("#ActivityDate➩" + rowindex).val(rowData.ActivityDate);
                    $("#ActivityContent➩" + rowindex).val(rowData.ActivityContent);
                    $("#Remark➩" + rowindex).val(rowData.Remark);
                    $("#PictureUrl➩" + rowindex).val(rowData.PictureUrl);
                    if (CheckIsNullNoTip(rowData.PictureUrl)) {
                        $("#pic➩" + rowindex).attr('src', rowData.PictureUrl.replace("~", ""));
                    }
                    
                    //每次循环以后再次使用ajax，获取活动人员的明细数据
                    $.ajax({
                        type: "post",
                        url: "/ProjectManageModule/project/GetUserString?ProjectActivityID=" + rowData.ProjectActivityID,
                        async: false,
                        success: function (msg) {
                            MemberArr = msg.split("|");
                            $("#MemberID➩" + rowindex).val(MemberArr[0]);
                            $("#Member➩" + rowindex).val(MemberArr[1]);
                        },
                        error: function () {
                            alert("出错了");
                        }
                    });
                    //$("#RelationDID➩" + rowindex).val(rowData.RelationDID);
                    rowindex++;

                });
            });

            rowindex = 1;
            AjaxJson("/ProjectManageModule/project/GetProblemList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addproblem(rowindex);
                    //$("#ResponseBy➩" + i).select2();
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#SortNO➩" + rowindex).val(rowData.SortNO);
                    $("#PutDate➩" + rowindex).val(rowData.PutDate);
                    $("#ProblemDescripe➩" + rowindex).val(rowData.ProblemDescripe);

                    $("#Solution➩" + rowindex).val(rowData.Solution);

                    $("#PutBy➩" + rowindex).val(rowData.PutBy);
                    $("#ResponseBy➩" + rowindex).val(rowData.ResponseBy);
                    $("#PlanDate➩" + rowindex).val(rowData.PlanDate);
                    $("#FinishDate➩" + rowindex).val(rowData.FinishDate);
                    $("#FinishState➩" + rowindex).val(rowData.FinishState);

                    $("#Remark➩" + rowindex).val(rowData.Remark);
                   //Member，Solution


                    $("#ResponseBy➩" + rowindex).select2();


                    rowindex++;

                });
            });

            //addproblem
        }
    }
    //保存事件
    function AcceptClick() {
        $('input[id^="file➩"]').each(function () {
            //alert(this.val());
            this.remove();
        });
        //$("#filePath").remove();
        if (!CheckDataValid('#form1')) {
            return false;
        }
        
        var ActivityForm = GetTableDataJson("#ActivityForm");
        var ProblemForm = GetTableDataJson("#ProblemForm");
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
          
            postData["ActivityForm"] = ActivityForm;
            postData["ProblemForm"] = ProblemForm;
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/ProjectManageModule/project/SubmitActivityForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }



    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
        //只剩行首时删除表格
        //if (tbody.rows.length == 1) {
        //    tbody.parentNode.removeChild(tbody);
        //}
        //删除数组中的值
        //removeByValue(array,)
    }


    function addactivity(i) {
        var tab = document.getElementById('ActivityForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();
        var td5 = tr.insertCell();
        var td6 = tr.insertCell();
        var td7 = tr.insertCell();

        td1.innerHTML = "<input style=\"width:95%\" placeholder=\"自动生成，无需填写\" readonly  id='ActivityDate➩" + i + "' type=\"text\" class=\"txt\"><input hidden=\"true\" id='ProjectActivityID➩" + i + "' class=\"txt\">";
        td2.innerHTML = "<input id='ActivityContent➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"活动内容\" checkexpession=\"NotNull\"> ";
        td3.innerHTML = "<input  style=\"width:95%\" id='Remark➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"活动备注\" checkexpession=\"NotNull\">";
        td4.innerHTML = "<input readonly style=\"width:95%\" id='Member➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"参会人员\" onClick=\"ChooseMember(" + i + ")\" checkexpession=\"NotNull\"><input hidden=\"true\" readonly style=\"width:95%\" id='MemberID➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"参会人员ID\" onClick=\"ChooseMember(" + i + ")\" checkexpession=\"NotNull\">";
        td5.innerHTML = "<input style=\"width:100%\" onchange=\"loadpicture(" + i + ")\" type=\"file\" name=\"file\" id=\"file➩" + i + "\">";
        td6.innerHTML = "<img id=\"pic➩" + i + "\" style=\"width:100%;height:120px\" src=\"\"><input hidden=\"true\" id=\"picsrc➩" + i + "\" class=\"txt\"><input hidden=\"true\" id=\"PictureUrl➩" + i +"\" class=\"txt\">";
        td7.innerHTML = "<a onclick='deleteCurrentRow(this)'>删除</a>";

        //$('#ssi-upload➩' + i).ssi_uploader({ url: '#', dropZone: false, allowed: ['jpg', 'gif', 'txt', 'png', 'pdf'] });
    }

    function addproblem(i) {
        var temp = 0;
        var tab = document.getElementById('ProblemForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
            temp = 1;
        }

        
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();
        var td5 = tr.insertCell();
        var td6 = tr.insertCell();
        var td7 = tr.insertCell();
        var td8 = tr.insertCell();
        var td9 = tr.insertCell();
        var td10 = tr.insertCell();

        td1.innerHTML = "<input id='SortNO➩" + i + "' style=\"width:95%\" value=\"" + i + "\" type=\"text\" class=\"txt\">";
        td2.innerHTML = "<input style=\"width:95%\" placeholder=\"自动生成，无需填写\" readonly  id='PutDate➩" + i + "' type=\"text\" class=\"txt\">";
        td3.innerHTML = "<input  style=\"width:95%\" id='ProblemDescripe➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"问题\" checkexpession=\"NotNull\">";
        //td4.innerHTML = "<input hidden=\"true\" style=\"width:95%\" id='PutBy➩" + i + "' class=\"txt\" datacol=\"yes\">";
        td4.innerHTML = "<input  style=\"width:95%\" id='Solution➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"解决方案\">";
        td5.innerHTML = "<select id=\"ResponseBy➩"+i+"\" class=\"txtselect\" err=\"责任人\" checkexpession=\"NotNull\" style=\"width:150px\"></select>";
        td6.innerHTML = "<input  style=\"width:95%\" id='PlanDate➩" + i + "' class=\"txt Wdate\" onfocus=\"WdatePicker()\"  datacol=\"yes\" err=\"计划完成日期\" checkexpession=\"NotNull\">";
        //<input id="CreateDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" err="登陆日期" checkexpession="NotNull" />
        //<select id="DepartMentID" class="select" datacol="yes" err="部门" checkexpession="NotNull" style="width: 96%"></select>
        td7.innerHTML = "<input  style=\"width:95%\" id='FinishDate➩" + i + "' class=\"txt Wdate\" onfocus=\"WdatePicker()\" datacol=\"yes\">";
        td8.innerHTML = "<select  style=\"width:95%\" id='FinishState➩" + i + "' class=\"select\" datacol=\"yes\" err=\"完成状态\" checkexpession=\"NotNull\"><option value='进行中'>进行中</option><option value='完成'>完成</option><option value='超期'>超期</option><option value='关闭'>关闭</option></select>";
        td9.innerHTML = "<input  style=\"width:95%\" id='Remark➩" + i + "' class=\"txt\" datacol=\"yes\">";
        td10.innerHTML = "<a onclick='deleteCurrentRow(this)'>删除</a>";

        BindData(i);

        if (temp == 1) {
            $("#ResponseBy➩" + i).select2();
        }
        

    }

    function ChooseMember(i) {

        var index = layer.open({
            type: 2,  //2表示ifrmae弹出层
            title: '通知明细',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['800px', '550px'],
            content: 'UserInfo?KeyValue=' + $("#ProjectActivityID➩" + i).val() + '&index=' + i + '&ProjectID=' + GetQuery('KeyValue')
        });
        //alert(i);
    }

    function GetUser(ObjectID, NameString, i) {
        //alert(i);
        //alert(NameString);
        $("#Member➩" + i).val(NameString);
        $("#MemberID➩" + i).val(ObjectID);
       
    }

    function loadpicture(i) {
        var obj = document.getElementById("file➩" + i);
        var file = obj.files[0];
        //alert(file);
        //创建读取文件的对象  
        var reader = new FileReader();

        //创建文件读取相关的变量  
        var imgFile;

        //为文件读取成功设置事件  
        reader.onload = function (e) {
            //alert('文件读取完成');
            imgFile = e.target.result;
            //console.log(imgFile);
            $("#pic➩" + i).attr('src', imgFile);
            $("#picsrc➩" + i).val(imgFile);
        };

        //正式读取文件  
        reader.readAsDataURL(file);

    }

    function BindData(j) {
        $("#ResponseBy➩" + j).html("");

        $("#ResponseBy➩" + j).append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/GetProjectUserJson", { ProjectID:GetQuery('KeyValue')}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ResponseBy➩" + j).append($("<option></option>").val(DataJson[i].UserID).html(DataJson[i].UserName));
            });
           
        })
        
       
    }

    

</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div style="display:none">
            <input readonly id="Approvestatus" type="text" class="txt" />
        </div>
        <div id="basic" class="tabPanel">
            <table id="ActivityForm" class="form-bill">
                <tr><td colspan="6"><strong>项目活动管理</strong></td><td><a class="button button-caution button-square button-small" onclick="addactivity(999)">添加</a></td></tr>
                <tr>
                    <th style="width:10%">活动日期</th>
                    <th style="width:20%">活动内容</th>
                    <th style="width:30%">备注</th>
                    <th style="width:15%">参加人员</th>
                    <th style="width:10%">活动照片</th>
                    <th style="width:10%">照片预览</th>
                    <th style="width:5%">删除</th>
                </tr>
            </table>

            <table id="ProblemForm" class="form-bill">
                <tr><td colspan="3"><strong>项目问题跟踪</strong></td>
                <td colspan="3"><select  id="responseby" placeholder="责任人" onchange="reloadactivity()"></select></td>
                <td colspan="2"><input id="finishState" placeholder="完成状态" onchange="reloadactivity()"/></td>
                <td><a class="button button-caution button-square button-small" onclick="addproblem(999)">添加</a></td></tr>
                <tr>
                    <th style="width:5%">序号</th>
                    <th style="width:10%">提出日期</th>
                    <th style="width:15%">问题</th>
                    <th style="width:15%;">解决方案</th>
                    <th style="width:10%">责任人</th>
                    <th style="width:10%">计划完成日期</th>
                    <th style="width:10%">完成日期</th>
                    <th style="width:8%">完成状态</th>
                    <th style="width:12%">备注</th>
                    <th style="width:5%">删除</th>
                </tr>
            </table>
        </div>


    </div>

</form>

<script>
    function reloadactivity() {
        //alert(11);
        //InitControl();
        var tab = document.getElementById('ProblemForm');
        var rowIndex = tab.rows.length + 1;
        //alert(rowIndex);
        for (var i = rowIndex; i >= 2; i--) {

            $('#ProblemForm tr:eq(' + i + ')').remove();
            //console.log(i);
        }

        var rowindex = 1;
        AjaxJson("/ProjectManageModule/project/GetProblemList", { KeyValue: GetQuery('KeyValue'), ResponseBy: $("#responseby").val(), FinishState: $("#finishState").val() }, function (data) {
            var JsonData = data.rows;
            //var colorState = "";
            $.each(JsonData, function (i) {

                addproblem(rowindex);
                //$("#ResponseBy➩" + i).select2();
                var rowData = JsonData[i];
                //alert(rowData.FllowStatus);
                //alert(rowData.ReviewDepart);ChangeReviewState
                $("#SortNO➩" + rowindex).val(rowData.SortNO);
                $("#PutDate➩" + rowindex).val(rowData.PutDate);
                $("#ProblemDescripe➩" + rowindex).val(rowData.ProblemDescripe);
                $("#PutBy➩" + rowindex).val(rowData.PutBy);
                $("#ResponseBy➩" + rowindex).val(rowData.ResponseBy);
                $("#PlanDate➩" + rowindex).val(rowData.PlanDate);
                $("#FinishDate➩" + rowindex).val(rowData.FinishDate);
                $("#FinishState➩" + rowindex).val(rowData.FinishState);

                $("#Remark➩" + rowindex).val(rowData.Remark);
                //Member


                $("#ResponseBy➩" + rowindex).select2();


                rowindex++;

            });
        });

        $('input[id^="PlanDate➩"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });

        $('input[id^="FinishDate➩"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
        });
    }
</script>
