@{
    ViewBag.Title = "项目管理Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

}

<link href="~/Content/Styles/buttons.css" rel="stylesheet" />
<link href="~/Content/Scripts/jquery.select2/css/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.select2/js/select2.js"></script>

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        .uploadify-queue-item .cancel a {
            display: none;
        }

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    var array = new Array();
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
        BindDepartMent();
        InitControl();
        //$("#DepartMentID").select2();
        //$("#DataProvider").select2();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();
        //$('input[id$="Date"]').each(function () {

        //    var w = this.value.indexOf("T");
        //    if (w > 0) {
        //        this.value = this.value.substring(0, w);
        //    }
        //    //this.disabled = true;
        //    //this.readOnly = true;
        //});
        var t = document.getElementById("main");
        var a = t.getElementsByTagName("input");
        var b = t.getElementsByTagName("select");
        for (var i = 0; i < a.length; i++) {
            a[i].setAttribute("disabled", "true");
        }
        for (var i = 0; i < b.length; i++) {
            b[i].setAttribute("disabled", "true");
        }

        $('input[id^="ProfitDate"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ProjectManageModule/project/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);

            });

            var rowindex = 1;
            //题目信息
            AjaxJson("/ProjectManageModule/project/GetProfitDetailList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addprofit(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#ProfitDate➩" + rowindex).val(rowData.ProfitDate);
                    $("#ProfitNum➩" + rowindex).val(rowData.ProfitNum);
                    $("#ProfitNum2➩" + rowindex).val(rowData.ProfitNum2);
                    $("#Remark➩" + rowindex).val(rowData.Remark);
                   
                    rowindex++;
                    
                });
            });

           
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var DetailForm = GetTableDataJson("#ProfitForm");
        
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["ProfitForm"] = DetailForm;
            
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/ProjectManageModule/project/SubmitProfitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function BindDepartMent() {
        $("#DepartMentID").html("");
        $("#DepartMentID").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/DepartmentJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DepartMentID").append($("<option></option>").val(DataJson[i].departmentid).html(DataJson[i].fullname));
            });
        })

        $("#DataProvider").html("");
        $("#DataProvider").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/UserJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DataProvider").append($("<option></option>").val(DataJson[i].userid).html(DataJson[i].realname));
            });
        })
    }


    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
        //只剩行首时删除表格
        //if (tbody.rows.length == 1) {
        //    tbody.parentNode.removeChild(tbody);
        //}
        //删除数组中的值
        //removeByValue(array,)
    }




    function addprofit(i) {

        var tab = document.getElementById('ProfitForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();
        var td5 = tr.insertCell();
        td1.innerHTML = " <input id='ProfitDate➩"+i+"' type=\"text\" class=\"txt Wdate\" onfocus=\"WdatePicker()\" style=\"background:#E0FFFF\" err=\"登陆日期\" checkexpession=\"NotNull\" />";
        td2.innerHTML = "<input id='ProfitNum➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"数据1\" checkexpession=\"NotNull\"> ";
        td3.innerHTML = "<input id='ProfitNum2➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"数据2\" checkexpession=\"NotNull\"> ";
        td4.innerHTML = "<input  style=\"width:95%\" id='Remark➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"备注\" checkexpession=\"NotNull\">";
        td5.innerHTML = "<button onclick='deleteCurrentRow(this)'>删除</button>";
    }

    


</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>


            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table id="main" class="form">

                <tr>
                    <th class="formTitle">项目编号：</th>
                    <td class="formValue">

                        <input readonly id="ProjectNO" type="text" class="txt" value="@ViewBag.BillNo" style="width: 95%" />

                    </td>
                    <th class="formTitle">项目名称：</th>
                    <td class="formValue" colspan="1">

                        <input id="ProjectName" type="text" class="txt" datacol="yes" err="项目名称" checkexpession="NotNull" />
                    </td>
                </tr>

            </table>

            <table id="ProfitForm" class="form-bill">
                <tr><td colspan="3"><strong>项目收益管理</strong></td><td><a class="button button-caution button-square button-small" onclick="addprofit()">添加</a></td></tr>
                <tr>
                    <th style="width:20%">计算日期</th>
                    <th style="width:10%">数据1</th>
                    <th style="width:10%">数据2</th>
                    <th style="width:50%">备注</th>

                    <th style="width:10%">删除</th>
                </tr>
            </table>
        </div>


    </div>

</form>
