@{
    ViewBag.Title = "图形报表";
}


<link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
<link href="~/Content/Styles/learunui-accordion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/Content/Scripts/learunui-framework.js"></script>
<script src="~/Content/Scripts/jquery.echarts/echarts.js"></script>
<div>
    <table>
        <tr>
            <th class="formTitle">年份：</th>
            <td class="formValue">
                <select id="year" class="txtselect" onchange="onChange()">
                   
                </select>
            </td>
        </tr>
    </table>
</div>
<div id="main" style="width: auto;height:400px"></div>



<script type="text/javascript">




    $(document).ready(function () {
            BindData();
            onChange();
        });



        function BindData() {
            $("#year").html("");

            //$("#year").append("<option value=''>==请选择==</option>");
            AjaxJson("/FYModule/Plan/YearJson", {}, function (DataJson) {
                $.each(DataJson, function (i) {
                    $("#year").append($("<option></option>").val(DataJson[i].year).html(DataJson[i].year));
                });
            })
        }
        
        //把加载数据单独放到一个function中，供selectchange事件调用
        function onChange()
        {
            var year = $("#year").val();
            var X = new Array();
            var Y = new Array();
            var Y2 = new Array();
            var Y3 = new Array();
            var durl = encodeURI('@Url.Action("GetProblemActionData", "Plan")?year='+year);
        $.ajax({
            type: "post",
            url: durl,
            async: false,
            success: function (data) {
                var dataA = new Array();
                dataA = data.split("|");

                X = dataA[2].split(",");
                Y2 = dataA[1].split(",");
                Y = dataA[0].split(",");
                Y3 = dataA[3].split(",");
                for(var i=0;i<X.length;i++)
                {
                    X[i] = X[i] + "月份";
                }
            }

        });
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            color: ['#3398DB', 'green','#675bba'],
            title: {
                text: '问题跟踪统计'
            },
            tooltip: {},
            legend: {
                data: ['问题次数','已完成数','完成率']
            },
            xAxis: {
                data: X
            },
            yAxis: [
                {
                    type: 'value',
                    name: '问题次数',
                    //min: 0,
                    //max: 250,
                    //interval: 50,
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {
                    type: 'value',
                    name: '完成率',
                    //min: 0,
                    //max: 25,
                    //interval: 5,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [{
                name: '问题次数',
                type: 'bar',
                data: Y,
                itemStyle: { normal: { label: { show: true, position: 'top' } } }
            },
                {
                    name: '已完成数',
                    type: 'bar',
                    yAxisIndex: 0,
                    data: Y2,
                    itemStyle: { normal: { label: { show: true, position: 'top' } } }
                },
            {

                name: '完成率',
                type: 'line',
                yAxisIndex: 1,
                data: Y3,
                itemStyle: { normal: { label: { show: true, position: 'top', formatter: '{c}%' } } }
            },
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);



        }

</script>