@{
    ViewBag.Title = "技能列表（双击添加）";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        $("#keywords").focus();
        BindSkill();
        GetGrid();
        //绑定键盘按下事件
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });
    //搜索
    function btn_Search() {
        var SkillName = $("#SkillName").val();
        var SkillType = $("#SkillType").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/TrainModule/PostDepartmentRelation/GetSkillListJson")?keywords=&SkillName=" + SkillName + "&SkillType=" + SkillType
        }).trigger('reloadGrid');
    }
    //显示物料
    function GetGrid() {
        var index = GetQuery('index');
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/TrainModule/PostDepartmentRelation/GetSkillListJson")",
            datatype: "json",
            height: $(window).height(),
            autowidth: true,
            colModel: [
                { label: '技能主键', name: 'skillid', hidden: true },
                { label: '技能名称', name: "skillname", width: 250, sortable: false },
                { label: '技能描述', name: "skilldescripe", width: 450, sortable: false }
                
            ],
            pager: false,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            //双击事件
            
            ondblClickRow: function (RowIndx) {
                var rowData = $(this).jqGrid('getRowData', RowIndx);
                //var $parentobj = top.$.dialog;
                //if (!$parentobj.IsExistItem(index, rowData.SkillID)) {
                //    $parentobj.$("#SkillID➩" + index).val(rowData.SkillID);
                //    $parentobj.$("#SkillName➩" + index).val(rowData.SkillName);
                   
                //    index++;
                
                // closeDialog();
                //} else {
                //    top.TipMsg("技能已存在,不能重复添加", 4000, "error");
                //}
                var ResultArr = new Array();
                ResultArr[0] = rowData.skillid;
                ResultArr[1] = rowData.skillname;
                ResultArr[2] = rowData.skilldescripe;
                
                window.returnValue = ResultArr;
                window.close();
            }
        });
    }

    function BindSkill() {
        $("#SkillType").html("");
        $("#SkillType").append("<option value=''>==请选择==</option>");
        AjaxJson("/TrainModule/PostDepartmentRelation/SkillTypeJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#SkillType").append($("<option></option>").val(DataJson[i].SkillType).html(DataJson[i].SkillType));
            });
        })

    }

    function btn_Confirm()
    {
        
        var ResultArr = new Array();
        ResultArr[0] = GetJqGridRowValue("#gridTable", "skillid");
        ResultArr[1] = GetJqGridRowValue("#gridTable", "skillname");
        ResultArr[2] = GetJqGridRowValue("#gridTable", "skilldescripe");

        if (ResultArr[0] == undefined)
        {
            alert("请先选中技能");
            return false;
        }

        //alert(ResultArr[0] + ',' + ResultArr[1] + ',' + ResultArr[2])
        window.returnValue = ResultArr;
        window.close();
    }
</script>
<div class="border" style="margin: 1px; border-bottom: none; margin-bottom: 0px;">
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    技能名称：
                </th>
                <td>
                    <input id="SkillName" type="text" class="txt" style="width: 50px" />
                </td>
                <th>
                    技能类型：
                </th>
                <td>
                    <select id="SkillType"></select>
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="确 认" onclick="btn_Confirm()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="line"></div>
    <table id="gridTable"></table>
    <style>
        .ui-widget-content {
            border-left: none;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }
    </style>
</div>
